{% extends 'layout.html' %}

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{description}}" />


</head>

{% block content %}
<div class="container">
  <div class="row">
    <div class="col fileUpload">
      File Upload
      <form method="POST" action="/">
        {{ form.name.label }}<br> {{ form.name(size=20) }}<br>
        {{ form.zip_code.label }}<br> {{ form.zip_code(size=20) }}<br>
        <label for="myfile">Select a file:</label><br>
        <input type="file" id="myfile" name="myfile">
      </form>
    </div>
    <div class="col" id="map">
    </div>
    <div class="col"><h1>List</h1><h1>List</h1><h1>List</h1></div>
  </div>
  <script>
    var map = L.map("map").setView([45.53, -122.64], 8);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    L.marker([45.53, -122.64])
      .addTo(map)
      .bindPopup("A pretty CSS3 popup.<br> Easily customizable.")
      .openPopup();

    L.esri.featureLayer({
  url: 'https://services.arcgis.com/P3ePLMYs2RVChkJx/arcgis/rest/services/USA_Boundaries_2020/FeatureServer/5',
  token: 'AAPKf76892cc6a6c4991afdaf131e9036ae8uNmbgTWaM0o89MmqTncGnroGfhE3Eb0IHhk2IIxv6XexFYKY0YM-16G_J8xv89T_'
}).addTo(map);
  </script>
</div>

{% endblock %}
