{% extends 'layout.html' %}
{% block content %}
      <div class="container-sm">
         <div class="row">
            <div class="col">

               <form action = "upload" method = "POST" enctype = "multipart/form-data">
                  <div class="mb-3">
                    <label for="name" class="form-label">What's Your Name?</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="">
                  </div>
                  <div class="mb-3">
                     <input type="text" style="display: none;" placeholder="lat" class="form-control" id="lat" name="lat" aria-describedby="">
                   </div>
                   <div class="mb-3">
                     <input type="text" style="display: none;" placeholder="lon" class="form-control" id="lon" name="lon" aria-describedby="">
                   </div>
                  <div class="mb-3">
                     <input type ="file" name="file" />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col" id="upload_map">

            </div>
         </div>


       </div>
       <script>
         var marker
         var map = L.map("upload_map").setView([38.8097343, -100.5556199], 5);
         L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
           attribution:
             '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
         }).addTo(map);
     
         L.marker([51.5, -0.09])
     
         L.control.locate().addTo(map);

         map.on('click', function(e){
         if(marker != undefined)
         map.removeLayer(marker)
         marker = new L.marker(e.latlng).addTo(map);
         console.log(e.latlng)

         document.getElementById("lat").value = e.latlng.lat + ""
         document.getElementById("lon").value = e.latlng.lng + ""
         alert("You position has been recorded")
         
         });
     
         /*L.marker([51.5, -0.09])
           .addTo(map)
           .bindPopup("A pretty CSS3 popup.<br> Easily customizable.")
           .openPopup();*/
       </script>
{% endblock %}